<h1>Contact Information</h1>

<table>
  

<% @sites.each do |site| %>
    <tr>
    <th>Name</th>
    <td><%= site.Name %></td>
    </tr>

    <tr>
    <th>Address</th>
    <td><%= site.Address %></td>
    </tr>
    
    <tr>
    <th>Phone</th>
    <td><%= site.Phone %></td>
    </tr>
    
    <tr>
    <th>Email</th>
    <td><%= site.email %></td>
    </tr>
    
    <tr>
    <th>Shipping Cost</th>
    <td><%= site.shipping_cost %></td>
    </tr>
    
    
    
    
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    
  </tr>
<% end %>
</table>

<br />


