<div id="product_list">
  <h1>Listing categories</h1>
  
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th/>
    </tr>
  
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class="list_description">
          <%= category.description %>
        </td>
        <td><%= category.image %></td>
        <td class="list_actions">
          <%= link_to 'Show', category %>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>

</div>

<br />

<%= link_to 'New Category', new_category_path %>
