<!DOCTYPE html>
<html>
<head>
  <title>Junkman Artist</title>
  <meta name="Description" content="Junk Art is the formation of sculptures from found objects or junk. This is an art form that is rarely seen and never at the level of Bruce Weinzetl's outstanding creations." />
  <meta name="KeyWords" content="Atlanta, Acworth, atlanta, acworth, georgia, GA, Georgia, Junk, junk, Junk Art, junkmanart, junk man artist, junkmanartist, junk man art, Art, art, scrap, metal, sculpture, Pittsburgh, PA, Bruce Weinzetl, Weinzetl, LOLA Art Gallery, junk art" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <table id="top-menu">
    <tr>
      <td><a href="http://localhost:3000/store">Store</a></td>
      <td><a href="http://localhost:3000/sites">Contact</a></td>
      <% if session[:user_id].present? %>
        <td>
          <%= link_to 'Categories',
                      categories_url,
                      :method => :get %>
        </td>
        <td>
          <%= link_to 'Products',
                      products_url,
                      :method => :get %>
        </td>
      <% end %>
      <td>
        <%= link_to 'Login',
                    login_url,
                    :method => :get %>
      </td>
      
      <% if session[:user_id].present? %>
        <td>
          <%= link_to 'Logout',
                      logout_url,
                      :confirm => 'Are you sure?',
                      :method => :delete %>
        </td>
      <% end %>
    </tr>
  </table>


  <div id="main-content">
    <%= yield %>
  </div>

</body>
</html>
